<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyMaret.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0177454417A60AC2001625BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0177456517A60AC3001625BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01A4FE0417B97276007FAB5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01A4FE1A17B97304007FAB5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
